<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alearner.mappers.postgresql.UsersMapper"><!--注意这里的地址-->
    <select id="findAll" resultType="com.alearner.model.postgresql.Users">
        select * from users
    </select>
    <select id="findOne"  parameterType="int"  resultType="com.alearner.model.postgresql.Users">
        select * from users where id = #{id}
    </select>
</mapper>